/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: Roboto, Poppins-SemiBold;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(/resources/assets/fonts/Poppins-SemiBold.ttf);
}
html, body {
  scroll-behavior: smooth;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.logo-home-admin {
  width: 22px;
  fill: white;
}
.menu-admin-logo {
  margin-top: 10px;
}

.coluna-esquerda {
  width: 339px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  background-color: #19263f;
}
.coluna-esquerda-titulo {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-size: 20pt;
  color: #4972ba;
  border-bottom: 1px solid rgb(153, 153, 153);
}
.coluna-esquerda-titulo p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-admin-bg-titulo {
  font-size: 10pt;
  padding: 5px;
  color: white;
}
.menu-admin-bg-titulo a {
  color: white;
}
.coluna-direita {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.menu-admin {
  padding: 10px;
}
.menu-admin h3 {
  margin-bottom: 30px;
}

.menu-admin-bg li {
  margin-bottom: 10px;
}
.logo-admin {
  width: 80px;
}
.menu-admin-titulo h1 {
  font-size: 10pt;
}
.menu-admin-titulo:hover .menu-admin-items {
  display: flex;
}

.menu-admin-bg-titulo:hover {
  background-color: #0a111d;
}

.menu-admin-items {
  display: none;
  width: 100%;
  /* position: absolute; */
  flex-direction: column;
  background-color: #040a14;
  padding: 5px;
}
.menu-admin-items a li {
  margin: 5px;
  padding: 5px;
}

.menu-admin-bg-selecionar-item {
  font-size: 9pt;
  color: white;
}
.menu-admin-bg-selecionar-item:hover {
  background-color: #01173e;
}

.footer {
  text-align: center;
  font-size: 8pt;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}