/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(/public/assets/fonts/Poppins-SemiBold.ttf);
}
html, body {
  font-family: Poppins-SemiBold;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  /* height: 100vh; */
}

.pagina-erro {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(37, 37, 37, 0.5);
  top: 0;
  z-index: 1;
  position: fixed;
}
.bloco-header-desktop {
  width: 100%;
}
.bloco-header-mobile {
  display: none;
}
/* Bloco Topo */
.topo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(234, 234, 234);
}
.social-e-rastreio {
  display: flex;
  align-items: center;
}
.social-icones {
  fill: rgb(0, 0, 0);
  height: 19px;
  width: 19px;
}
.rastrear {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(173, 171, 171);
  background-color: white;
  padding: 2px;
  margin-left: 5px;
}
.rastrear-campo {
  padding: 2px 3px;
  border: none;
}
.conta-e-carrinho {
  display: flex;
}
.conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.conta-icone {
  fill: rgb(0, 0, 0);
  height: 14px;
  width: 14px;
}
.conta-texto {
  font-size: 8pt;
}
.carrinho {
  display: flex;
  align-items: center;
  margin-left: 5px;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
}
.carrinho-icone {
  fill: rgb(0, 0, 0);
  height: 20px;
  width: 25px;
}
.carrinho-qnt-produtos {
  font-size: 10pt;
}

/* Bloco Menu Desktop */
.menu-desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-menu-desktop {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.items-menu-desktop li {
  color: rgb(50, 44, 44);
}
.item-menu-desktop {
  font-size: 11pt;
  color: rgb(50, 44, 44);
  padding: 5px;
}
.item-submenu-desktop {
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 9pt;
  padding: 3px;
  color: rgb(128, 124, 124);
}
.item-submenu-desktop-border-bottom {
  border-bottom: 1px solid rgb(215, 210, 210);
}
.abrir-opcoes:hover .opcoes-abertas {
  display: flex;
}
.opcoes-abertas {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgb(251, 251, 251);
  width: 150px;
  padding: 5px;
}
.opcoes-abertas li {
  width: 100%;
  padding: 3px;
}

/* Conteúdo Dinâmico */
section {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bloco Rodapé */
.rodape {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 9pt;
}

.menu-mobile {
  display: none;
  align-items: center;
  justify-content: space-around;
}
.items-menu-mobile {
  display: none;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgb(58, 58, 58);
  font-size: 12pt;
}
.items-menu-mobile li {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}
.items-menu-mobile li a {
  color: grey;
}
.btn-close {
  display: flex;
  align-self: flex-end;
  margin-bottom: 40px;
  color: rgb(211, 211, 211);
  font-size: 21pt;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    position: unset;
    box-shadow: none;
  }
  section {
    margin-top: 65px;
  }
  .topo {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  .bloco-header-desktop {
    display: none;
  }
  .bloco-header-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo-desktop {
    width: 100px;
  }
  .logo-mobile {
    margin-top: 20px;
  }
  .logo-mobile img {
    width: 150px;
  }
  .btn-open {
    font-size: 20pt;
  }
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
  .social-e-rastreio {
    width: 100%;
  }
  .rastrear {
    width: 100%;
    height: 40px;
    border-radius: 0px;
    border: none;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .bloco-social-icones {
    width: 80px;
    display: flex;
    justify-content: space-between;
  }
  .social-icones-instagram {
    margin-left: 0px;
  }
  .conta-e-carrinho {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .conta {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .conta-icone {
    height: 12px;
    width: 12px;
  }
  .rastrear-campo {
    width: 100%;
    background-color: white;
  }

  @media (max-width: 400px) {
    .btn-open {
      font-size: 22pt;
      width: 50px;
    }
    .bloco-social-icones {
      width: 70px;
      display: flex;
      justify-content: space-between;
    }
    /* .conta-e-carrinho {
      width: 90px;
    } */
  }

  @media (max-width: 300px) {
    .btn-open {
      font-size: 22pt;
      width: 50px;
    }
  }
}