/* View */
.admin-produto-categoria {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  background-color: #F8F8F8;
}

/* Carregar categoria */
.content-categoria {
  margin-top: 40px;
}
.content-categoria h1 {
  font-size: 15pt;
  color: #19263f;
}
.content-categoria table {
  border-collapse: collapse;
  font-size: 10pt;
}
.content-categoria table th {
  height: 60px;
  background-color: #19263f;
  color: white;
}
.content-categoria table td, th {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}
.btn-abrir-criar-categoria {
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  background-color: #1D85F4;
  color: white;
}
.btn-abrir-criar-categoria:hover {
  background-color: #08488c;
}

/* Criar e Editar categoria */
.btn-salvar {
  cursor: pointer;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  background-color: #1D85F4;
  color: white;
}
.btn-salvar:hover {
  background-color: #08488c;
}

/* Criar categoria */
.content-criar-categoria {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
}
.content-criar-categoria form {
  width: 500px;
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
}
.criar-categoria-inputs {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.criar-categoria-inputs label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 5px;
}
.criar-categoria-inputs input {
  width: 200px;
  height: 35px;
  margin-left: 10px;
  padding: 5px;
  border: 0.5px solid #ccc;
  border-radius: 1px;
}
.fechar-criar-categoria {
  width: 100%;
  padding: 10px;
}
.fechar-criar-categoria span {
  padding: 5px;
  cursor: pointer;
}

/* Editar categoria */
.content-editar-categoria {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
}
.content-editar-categoria form {
  width: 500px;
  height: 350px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
}
.editar-categoria-inputs {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.editar-categoria-inputs label {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  padding: 5px;
}
.editar-categoria-inputs input {
  width: 200px;
  height: 35px;
  margin-left: 10px;
  padding: 5px;
  border: 0.5px solid #ccc;
  border-radius: 1px;
}
.fechar-editar-categoria {
  width: 100%;
  padding: 10px;
}
.fechar-editar-categoria span {
  padding: 5px;
  cursor: pointer;
}
.btn-apagar a {
  color: black;
}
.btn-apagar {
  width: 60px;
  height: 30px;
  padding: 3px;
  fill:white;
  border: none;
  border-radius: 2px;
  background-color: #DB1210;
  cursor: pointer;
}
.btn-apagar:hover {
  background-color: #8f0a08;
}
.btn-apagar svg {
  height: 12px;
}
.btn-editar {
  width: 60px;
  height: 30px;
  padding: 3px;
  fill:white;
  border: none;
  border-radius: 2px;
  background-color: #1D85F4;
  cursor: pointer;
}
.btn-editar:hover {
  background-color: #08488c;
}
.btn-editar svg {
  height: 12px;
}
.verificar-apagar {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
}

/* Apagar categoria */
.content-apagar-categoria {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
}
.apagar-categoria {
  margin-top: 20px;
  width: 400px;
  height: 140px;
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
}
.apagar-categoria h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12pt;
  color: #19263f;
}
.buttons-apagar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 20px;
}
.btns-apagar {
  cursor: pointer;
  width: 60px;
  height: 30px;
  padding: 3px;
  fill:white;
  border: none;
  border-radius: 2px;
  background-color: #1D85F4;
  color: white;
}
.btns-apagar:hover {
  background-color: #08488c;
}